[submodule "fuzz/corpus"]
	path = fuzz/corpus
	url = git@github.com:andyyu2004/zi-fuzz-corpora
[submodule "zi-nvim/runtime/undotree"]
	path = zi-nvim/runtime/undotree
	url = https://github.com/mbbill/undotree
